.example-fill-remaining-space {
// This fills the remaining space, by using flexbox.
// Every toolbar row uses a flexbox row layout.
flex: 1 1 auto;
}

.overflow{
    width: 10em;
    margin: 0 0 2em 0;
    text-overflow: ellipsis;

    /**
     * Required properties to achieve text-overflow
     */
    white-space: nowrap;
    overflow: hidden;
}


.pageList{
    min-height: 300px;
    min-width: 150px;
}
