<md-card>
    <md-card-content>
        <div class="dropzone" [ngClass]="{'is_draged': isDraged }"
                (drop)="handleDrop($event)"
                (dragover)="dragover()"
                (dragend)="dragend()"
                (dragleave) = "dragleave()">
            <div class="dropzone_content">
                <h3>Drop Your Videos Here</h3>
                <h1>
                    <md-icon>
                        file_upload
                    </md-icon>
                </h1>
            </div>
        </div>
    </md-card-content>
</md-card>

<md-card *ngFor="let item of progress">
    <md-card-header>
        <md-card-title> {{item.name | uriEncode}}</md-card-title>
    </md-card-header>
    <md-card-content>
        <md-progress-bar md-line
                         [value]="item.progress">
        </md-progress-bar>
    </md-card-content>
    <md-card-actions>
        <button md-button md-line *ngIf="item.paused" (click)="resumeUpload(item.name)">Resume</button>
        <button md-button md-line *ngIf="!item.paused" (click)="pauseUpload(item.name)">Pause</button>
        <button md-button md-line (click)="removeUpload(item.name)">Remove</button>
    </md-card-actions>
</md-card>
