<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>WebClient</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="styles.d7ddbd350ec457eb5dc1.bundle.css" rel="stylesheet"/></head>
<body>
<app-root>Loading...</app-root>
<script type="text/javascript" src="inline.83cb616c5fed5bfb0d04.bundle.js"></script><script type="text/javascript" src="polyfills.2d45a4c73c85e24fe474.bundle.js"></script><script type="text/javascript" src="vendor.d2d1c0b9a051b6207ee5.bundle.js"></script><script type="text/javascript" src="main.e8884fb77797da26d47a.bundle.js"></script></body>
</html>
